.records {
    display: flex;
    flex-direction: column;
}

.status-label {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.ready {
    background-color: green;
}