{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <script>
        $(document).ready(function() {
            $('#generate-csv-btn').click(function() {
                var numRecords = $('#num-records-input').val();
                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                $.ajax({
                    url: '/generate-csv/',
                    type: 'POST',
                    data: {
                        'num-records': numRecords,
                    },
                    headers: {
                        "X-CSRFToken": csrftoken
                    },
                    success: function(response) {
                        var link = '<a href="' + response.url + '">Download CSV</a>';
                        var loop = '{% if status == "ready" %}\n<div class="status-label ready" id="cm-label"></div>\n{% endif %}'
                        $('#csv-download-link').html(link);
                        $('#csv-download-modal').modal('show');
                        $('#color-label').html(loop);
                        setInterval(function() {
                            $('#cm-label').hide();
                        }, 3000);
                        $.each(response.status, function(index, value) {
                            var statusDiv = $('#status-' + index);
                            statusDiv.removeClass('processing ready');
                            statusDiv.addClass('status-label status-' + index + ' ' + value);
                        });
                    }
                });
            });

            $('#add-field-btn').click(function() {
                var fieldData = $('#field-input').val();
                var schemaId = $('#schema-id-input').val();
                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                $.ajax({
                    url: '/add-field/',
                    type: 'POST',
                    data: JSON.stringify({
                    'schema_id': schemaId,
                    'field': fieldData,
                    }),
                    headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrftoken
                    },
                    success: function(response) {
                    location.reload();
                    }
                });
            });
        });
    </script>

    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center mb-4">Generate CSV</h1>
                {% include 'create_schema.html' %}
                <div class="text-center mb-4">
                    <label for="num-records-input">Number of Records:</label>
                    <input type="number" id="num-records-input" name="num-records" value="1" min="1">
                    <button class="btn btn-primary" id="generate-csv-btn">Generate CSV</button>
                    <div class="status-label" id="color-label"></div>
                </div>
                <div class="text-center" id="csv-download-link" href="{{ MEDIA_URL }}{{ file }}"></div>
            </div>
        </div>
    </div>
    {% csrf_token %}
{% endblock %}